
@{
    ViewBag.Title = "File";
}

<h2>Documents Uploaded</h2>
<h4>Documents are located in the media folder under documents.</h4>

<div class="jumbotron">
    <table class="table">
        <thead class="thead-dark">
            <tr>
               
                <th scope="col">File Name </th>
                <th scope="col">DOWNLOAD OPTION</th>
                <th scope="col">DELETE OPTION</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>
                    <button type="button" class="btnDownload">DOWNLOAD</button>
                </td> @*download button*@
                
                <td>
                    <button type="button" class="btnDelete">DELETE</button>
                </td> @*delete button*@
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
