
@using FileUploading.Models
@model List<FileModel>

@{
    ViewBag.Title = "File";

}

<h2>Documents Uploaded</h2>
<h4>Documents are located in the media folder under documents.</h4>

<div class="jumbotron">
    <table class="table">
        <thead class="thead-dark">
            <tr>

                <th scope="col">File Name </th>
                <th scope="col">DOWNLOAD OPTION</th>
                <th scope="col">DELETE OPTION</th>
            </tr>
        </thead>
        <tbody>
            @foreach (FileModel file in Model)
            {
                <tr>
                    @*
                        Default >> @Html.DisplayFor(modelItem => file.FileName)
                    *@

                    <td>@file.FileName</td>
                    <td>
                        <button>
                            @Html.ActionLink("Download", "DownloadFile",
                             new { fileName = file.FileName })
                        </button>
                    </td>
                    <td>
                        <button>
                            @Html.ActionLink("DELETE", "DeleteFile",
                           new { fileName = file.FileName },
                           new { onclick = "return confirm('Are you sure you wish to delete this?');" })
                        </button>
                    </td>
                </tr>
            }
            </tr>
        </tbody>
    </table>
</div>
