
@{
    ViewBag.Title = "My Profile";
}

<h2>About Me</h2>



<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"><b>How I look... </b></h3>
                <img src="C:\Users\Makro\OneDrive\Desktop\INF 272\2022\u19268468_HW03\Moesha.jpg" width="500" height="600">
                
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"><b>Bibliography</b> </h3>
                <p class="card-text">Name: Moesha  <br> Surname: Gobingca <br> Age: 20 <br>
                <br> <h3><b>Education Information</b></h3> <br> Tertiary Institution: University of Pretoria <br> Course Name: Bachalor of Information Technology (Information Systems) <br>
                Year of study: 2nd Year <br><br> 
                </p> 
                
            </div>
        </div>
    </div>
</div>
